<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/achat/IdeaProjects/getLinksFromPost">
        <parameter name="sitemapURL" value="https://toptenreviewed.com/sitemap.xml"/>
        <parameter name="contentElement" value="//div[@class='td-ss-main-content']"/>
        <parameter name="browser"  value="chrome"/>
        <parameter name="rowStart"  value="0"/>
        <parameter name="saveRowStart"  value="0"/>
        <classes>
            <class name="testCases.GetClientLinks"/>
        </classes>
    </test>
</suite>
